@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.section{
	width: 100%;
	min-height: 100%;
}
.container{
	display: block;
	margin:auto;
	padding-top: 100px;
}
.content-section{
	float: left;
	width: 45%;
}
.image-section{
	float: right;
	width: 50%;
}
.image-section img{
	width: 100%;
	height: auto;
}
.content-section .title{
	text-transform: uppercase;
	font-size: 28px;
}
.content-section .content h3{
	margin-top: 20px;
	color:#820000;
	font-size: 21px;
  margin: 20px 0;
}
.content-section .content p{
	margin-top: 10px;
	font-size: 18px;
	line-height: 1.5;
}
.content-section .content .button{
	margin-top: 30px;
}
.content-section .content .button a{
  background-color: #a52a2a;
	padding:12px 40px;
	text-decoration: none;
	color:#fff;
  border-radius: 10px;
	font-size: 20px;
	letter-spacing: 1.5px;
  transition: all 0.5s ease;
}
.content-section .content .button a:hover{
  background-color: #3d3d3d;
	color:#fff;
}
.content-section .social{
	margin: 40px 40px;
}
.content-section .social i{
	color:#a52a2a;
	font-size: 30px;
	padding:0px 10px;
}
.content-section .social i:hover{
	color:#3d3d3d;
}

/* socials */
.sci {
  margin-top: 20px;
  display: flex;
  width: 60%;
}
.sci li {
  list-style: none;
}
.sci li a {
  color: #3d3d3d;
  color: #ccc;
  transition: all 0.5s ease;
}
.sci li a:hover {
  color: #820000;
}
/* socials ends */

.down-arrow {
  margin: 35% auto 0 auto;
  padding-bottom: 10%;
  display: flex;
  justify-content: center;
  animation: 2s ease 0s normal none infinite bounce;
  bottom: 0;
  color: #fff;
  padding: 5px 10px;
  right: 10px;
}


@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
  40% {-webkit-transform: translateY(-30px);}
  60% {-webkit-transform: translateY(-15px);}
}

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
  40% {-moz-transform: translateY(-30px);}
  60% {-moz-transform: translateY(-15px);}
}

@-o-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
  40% {-o-transform: translateY(-30px);}
  60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  40% {transform: translateY(-30px);}
  60% {transform: translateY(-15px);}
}

.animated.bounce {
  -webkit-animation-name: bounce;
  -moz-animation-name: bounce;
  -o-animation-name: bounce;
  animation-name: bounce;
}

@media screen and (max-width: 768px){
	.container{
	width: 80%;
	display: flex;
	margin:auto;
	padding-top:50px;
  flex-direction: column-reverse;
}
.content-section{
	float:none;
	width:100%;
	display: block;
	margin:auto;
}
.image-section{
	float:none;
	width:100%;
	margin-bottom: 50px;
}
.image-section img{
	width: 100%;
	height: auto;
	display: block;
	margin:auto;
}
.campus-section .title{
	text-align: center;
	font-size: 19px;
}

}